#dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}
#dialog-mask{
    width: 100%;
    height: 100%;
    /*background: rgba(0,0,0,0.6);*/
    background: #000000;
    opacity: 0.6;
    filter: alpha(opacity:60);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
#dialog-main {
    width: 70%;
    height: 600px;
    background:url(../img/jpeg/横版小王子.jpg) no-repeat ;
    background-size: cover ;
    position: absolute;
    display: none;
    margin-top:-350px;
    top :50%;
    left: 50%;
    margin-left: -35%;
}
#dialog-main p{
    margin-top:100px;
}
#dialog-title-item {
    float: left;
}
#dialog-title-close {
    float: right;
    cursor: pointer;
}