#center {
    position: absolute;
    height: 433px;
    width: 80%;
    margin: 100px 10% ;
}
#text {
    margin-top: 30px;
    border: none ;
    width: 50%;
    height: 300px;
    float: left;
    color: whitesmoke;
    font-size: 50px;
    text-align: left ;
}
#open{
    background: url("../img/jpeg/anniu.png") center center;
    background-size: contain ;
}
#cloud {
    position: absolute;
    width: 100%;
    height: 300px;
    background: url("../img/jpeg/cloudd.png") no-repeat  center center;
    margin-top: 433px;
}
#nav-left {
    width: 47%;
    height: 70px;
    /*background: firebrick ;*/
    float: left;
}
#nav-left li{
    display: block;
    float: left;
    line-height: 70px;
    margin-left: 8%;
    font-size: 17px;
}
#nav-left img{
    float: left;
    width: 8%;
    height: 30px;
    margin-left: 40px;
    margin-top: 20px;
    display: none;
}
#nav-middle {
    width: 6%;
    height: 70px;
    float: left;
    background: url(../img/ps/logo.png) no-repeat center center;
    background-size: contain ;
}

#nav-right  {
    width: 47%;
    height: 70px;
    float: left;
}
#center-right {
    margin-top: 30px;
    width: 30%;
    height: 300px;
    background: darkgray ;
    float: right;
    background: url("../img/jpeg/星星按钮.png ") no-repeat center center;
}
button {
    width: 50px;
    height: 50px;
    margin-top: 25%;
    margin-left: -18%;
    outline: none ;
    background-color: transparent;
}

#about-me {
    width: 100%;
    height: 500px;

}
#about-me p{
    color: white;
}
#about-left{
    width: 30%;
    height:500px;
    float: left;
    background: white;
}
#about-left .square {
    margin-top: 11%;
}
#about-right {
    width: 66%;
    height:500px;
    float: left;
    background: white;
}
#about-left {
    float: left;
}
#about-right {
    float: right;
}
.square{
    width: 95%;
    height: 400px;
    background: white ;
    margin: 5% auto ;
    background: url("../img/jpeg/timg (1).jpg") center center;
    opacity: 0.9;
    border-radius: 50px ;
}



.middle-border {
    width:4%;
    height: 500px;
    float: left;

}
.middle-border img {
    width: 100%;
    height: 500px;
}

#intro {
    width: 100%;
    height: 600px;
    background: seashell ;
}
#contact {
    width: 100%;
    height: 600px;
    background: white;
}

#footer {
    height: 100px;
    width: 15%;
    background: url("../img/jpeg/边框.png") no-repeat center center;
    background-size: contain ;
    float:left;
}
#footer p{
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin-top: 25%;
    font-size: 20px;
}
#goTop {
    width: 60px;
    height: 60px;
    background: url("../img/jpeg/向上.jpg") center center;
    background-size: contain ;
    position: fixed;
    right: 30px;
    bottom: 20px;
    border-radius: 50px ;
}