#center {
    position: absolute;
    height: 433px;
    width: 80%;
    margin: 180px 10% ;
}
#text {
    margin-top: 50px;
    border: none ;
    width: 50%;
    height: 300px;
    float: left;
    color: whitesmoke;
    font-size: 50px;
    text-align: left ;
}
#open{
    background: url("../img/jpeg/anniu.png") center center;
    background-size: contain ;
}
#cloud {
    position: absolute;
    width: 100%;
    height: 300px;
    background: url("../img/jpeg/cloudd.png") no-repeat  center center;
    margin-top: 533px;
}
#nav-left {
    width: 47%;
    height: 70px;
    /*background: firebrick ;*/
    float: left;
}
#nav-left li{
    display: block;
    float: left;
    line-height: 70px;
    margin-left: 8%;
    font-size: 17px;
}
#nav-left img{
    float: left;
    width: 8%;
    height: 30px;
    margin-left: 40px;
    margin-top: 20px;
    display: none;
}
#nav-middle {
    width: 6%;
    height: 70px;
    float: left;
    background: url(../img/ps/logo.png) no-repeat center center;
    background-size: contain ;
}

#nav-right  {
    width: 47%;
    height: 70px;
    float: left;
}
#center-right {
    margin-top: 30px;
    width: 40%;
    height: 300px;
    background: darkgray ;
    float: right;
    background: url("../img/jpeg/星星按钮.png ") no-repeat center center;
}
button {
    width: 50px;
    height: 50px;
    margin-top: 90px;
    margin-left: -60px;
    outline: none ;
    background-color: transparent;
}

#about-me {
    width: 100%;
    height: 500px;

}
#about-me p{
    color: white;
}
#about-left{
    width: 34%;
    height:500px;
    float: left;
    background: white;
}

#about-right {
    width: 66%;
    height:500px;
    float: left;
    background: white;
}
#about-right p{
    margin-top: 30px;
    color: darkslateblue;
    font-size: 20px;
}
#about-right button{
    height: 50px;
    width: 100px;
    color: pink;
    background:lightsteelblue ;
    margin: auto ;
    margin-top: 50px;
    border-radius: 10px;
    border: none;
}
#about-right button:hover{
    background: lightskyblue ;
}
#about-left {
    float: left;
}
#about-right {
    float: right;
}




#intro {
    width: 100%;
    height: 600px;
    background: seashell ;
}
#contact {
    width: 100%;
    height: 600px;
    background: white;
}
#what-to-do {
    width: 100%;
    height: 800px;
}
#footer {
    height: 100px;
    width: 15%;
    background: url("../img/jpeg/边框.png") no-repeat center center;
    background-size: contain ;
    float:left;
}
#footer p{
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin-top: 25%;
    font-size: 20px;
}
#goTop {
    width: 60px;
    height: 60px;
    background: url("../img/jpeg/向上.jpg") center center;
    background-size: contain ;
    position: fixed;
    right: 30px;
    bottom: 20px;
    border-radius: 50px ;
}




img{
    border: 0;
}
#container{
    width: 90%;
    height: 500px;
    position:relative;
    right: 0;
    margin: 0 auto;
}
#imgs img{
    display: none;
    height: 500px;
    width: 100%;
    border-radius:50px ;
}
#imgs .selected{
    display: block;
    background-size: contain ;
}
#list-nav{
    position: absolute;
    bottom: 10px;
    left: 35%;

}
#list-nav li{
    width: 30px;
    height: 30px;
    background: lightskyblue ;
    color:white;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    float: left;
    margin-right: 5px;
    border-radius: 15px;
}
#list-nav .selected{
    background: pink ;
}
#arrows{
    position: absolute;
    left: 10px;
    bottom: 10px;
    display:none;
}