#center {
    position: absolute;
    height: 433px;
    width: 80%;
   margin-top: 150px;
    margin-left: 10%;
}
#text {
    margin-top: 30px;
    border: none ;
    width: 50%;
    height: 300px;
    float: left;
    color: rgba(124,141,185,1);
    font-size: 50px;
    text-align: left ;
}
#open{
    /*background: url("../img/jpeg/anniu.png") center center;*/
    background-size: contain ;
    cursor: pointer;
}
#open i{
    font-size: 35px;
}
#cloud {
    position: absolute;
    width: 100%;
    height: 234px;
    background: url("../img/jpeg/cloudd.png") no-repeat  center center;
    margin-top: 533px;
}
#nav-left {
    width: 47%;
    height: 70px;
    /*background: firebrick ;*/
    float: left;
}
#nav-left li{
    display: block;
    float: left;
    line-height: 70px;
    margin-left: 8%;
    font-size: 17px;
}
#nav-left img{
    float: left;
    width: 8%;
    height: 30px;
    margin-left: 40px;
    margin-top: 20px;
    display: none;
}
#nav-middle {
    width: 6%;
    height: 70px;
    float: left;
    background: url(../img/ps/logo.png) no-repeat center center;
    background-size: contain ;
}

#nav-right  {
    width: 47%;
    height: 70px;
    float: left;
}
#center-right {
    /*margin-top: 30px;*/
    width: 40%;
    height: 350px;
    background: darkgray ;
    float: right;
    background: url("../img/ps/Anthony.png") no-repeat center center;
}
#center-right button {
    width: 40px;
    height: 40px;
    margin-top: 110px;
    margin-left: 170px;
    outline: none ;
    background-color: transparent;
    border-radius: 20px;
}

#about-me {
    width: 100%;
    height: 700px;
  position: relative;
}
#about-me p{
    color: white;
}
#about-left{
    width: 35%;
    height:500px;
    float: left;
    background: white;
}

#about-right {
    width: 65%;
    height:500px;
    float: left;
    background: white;
}
#about-right p{
    margin-top: 30px;
    color: darkslateblue;
    font-size: 20px;
}
#about-right button{
    height: 50px;
    width: 100px;
    color: pink;
    background:lightsteelblue ;
    margin:50px auto ;
    /*margin-top: 50px;*/
    border-radius: 10px;
    border: none;
}
#about-right button:hover{
    background: lightskyblue ;
}
#about-left {
    float: left;
}
#about-right {
    float: right;
}




#intro {
    width: 100%;
    height: 600px;
    background: seashell ;
}

#what-to-do {
    width: 100%;
    height: 800px;
    position: relative;
    /*background: url("../img/jpeg/IMG_2252.jpg") ;*/
    background-size: cover ;
}
#what-to-do .todo{
    /*margin-top: 20px;*/
    width: 20%;
    height: 350px;
    /*background: darkcyan ;*/
    float: left;
}
#what-to-do .todo canvas {
    margin: 0 auto;
}
#what-to-do .todo p{
    font-size: 25px;
    color: rgba(93,115,154,1);
}
.todo:nth-child(2n){
    background:rgba(93,115,154,0.6)
}
.triangle-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid white;
    margin: 0 auto ;
}
.triangle-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid white;
    float: left;
    margin: 0 auto ;
}
#study-line {
    width: 95%;
    margin: 0 2.5% ;
    height: 200px;
    margin-bottom: 20px;
    /*background: #AF4FDD ;*/
    float: left;
}
#study-line .study {
    float: left;
    width: 22.75%;
    height: 300px;
    margin-right: 3%;
}
#study-line .study:last-child {
    margin-right: 0;
}

#study-line .example {
    width: 100%;
    height: 200px;
    margin-top: 20px;
}
.example img{
    width: 150px;
    height: 150px;
}
#about-me .example p{
    font-size: 20px;
    color: darkslateblue;
}

#contact {
    width: 100%;
    height: 600px;
    background: white;
}


#footer {
    height: 100px;
    width: 15%;
    background: url("../img/jpeg/边框.png") no-repeat center center;
    background-size: contain ;
    float:left;
}
#footer p{
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin-top: 25%;
    font-size: 20px;
}
#goTop {
    width: 60px;
    height: 60px;
    background: url("../img/jpeg/向上.jpg") center center;
    background-size: contain ;
    position: fixed;
    right: 30px;
    bottom: 20px;
    border-radius: 50px ;
}




img{
    border: 0;
}
#container{
    width: 90%;
    height: 500px;
    position:relative;
    right: 0;
    margin: 0 auto;
}
#imgs img{
    display: none;
    height: 500px;
    width: 100%;
    border-radius:50px ;
}
#imgs .selected{
    display: block;
    background-size: contain ;
}
#list-nav{
    position: absolute;
    bottom: 10px;
    left: 35%;

}
#list-nav li{
    width: 30px;
    height: 30px;
    background: lightskyblue ;
    color:white;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    float: left;
    margin-right: 5px;
    border-radius: 15px;
}
#list-nav .selected{
    background: pink ;
}
#arrows{
    position: absolute;
    left: 10px;
    bottom: 10px;
    display:none;
}