body {
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
}
ul ol li{
    list-style: none;
}
a{
    text-decoration: none ;
}
#star{
    position: relative;
    width: 100%;
    height:733px;
    background: url("../img/jpeg/timg (1).jpg ") no-repeat center center ;
    background-size: cover ;
}
#nav {
    position: absolute;
    width: 80%;
    height: 70px;
    background: white ;
    border-radius: 50px ;
    margin: 15px  10%;
}
#about-me {
    width: 100%;
    height: 500px;

}





















